*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
li{
  list-style-type: none;
}
.rating{
  display:flex;
  align-items:Center;
  justify-content:center;
  text-align:center;
}
.coupon{
position:fixed;
margin-top:80px;
left:50%;
z-index:100;
transform:translate(-50%,0);
width:550px;
height:400px;
border-radius:2rem;
display:none;
}
.coupon_image{
width: 100%;""
height:100%;
border-radius:2rem;
}
.close_button{
position:absolute;
font-size:30px;
top:2%;
right:5%;
cursor:pointer;
color:white;
text-shadow:0px 0px 10px black;

font-weight:bold;
}
.coupon_text{
position:absolute;
top:10%;
padding:3%;
color:white;
}
.coupon_field{
  max-height:40px;
  display:flex;
  padding:10px;

  align-self:center;
  border-radius:1rem;
  background-color:white;
  box-shadow: 0px 0px 10px grey;
}
.coupon_field input{
outline:none;
border:none;
margin-left:30px;
width:100%;
}
.coupon_icons{
position:absolute;
color:black;
}
.coupon input[type="checkbox"]{
text-align: left;
}
.coupon_text h1{
text-shadow:0px 0px 10px black;
text-align:center;


}
.submit{
 position:absolute;
 color:white;
 font-weight:600;
 margin-top:5%;
 left:30%;
 /* transform:translate(-50%,0); */
 text-align:center;
 width:40%;
 height:50px;
 padding-top:10px;
 transform:scale(1);
 background-color:rgb(88, 3, 88);
 border-radius:1rem;
 cursor:pointer;
 border:2px solid white;
 transition: all 0.4s ease-in-out;
}
.submit:active{
transform:scale(0.8);
}
.announcement_div{
  background-color: #98a06b;
  color:white;
  /* position:fixed; */
  position:sticky;
  top:0px;
  z-index:10;
  width:100%;
}

.home_corousal {
   padding:0px;
   overflow-x: hidden;
}
.carousel-control-prev,.carousel-indicators{
  z-index: 0;
}

 .navLink>a{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing:0.2em;
  font-weight:100px;
  font-size:14px;
  /* color:white !important; */
}
.testcolor{
color:white !important;
}
a{
  color:white;
  text-decoration: none;


}
.social_media_icons{
    width:20px;
    height:20px;
    color:black;
  
}

.icons_track_div{
  display:flex;
  margin-top:10px;
  justify-content:flex-end;
}

.track{
  background-color:black;
  width:170px;
  height:auto;
  padding:5px 5px;
  border-radius:1rem;
}
.track a{
  color:white !important;
  text-decoration: none;;
}
.main_logo_div{

  display:flex;
  padding-left:46%;
  margin-top:30px;
}
.search{
  max-height:40px;
  display:flex;
  padding:10px;
  align-self:center;
  border-radius:1rem;
  background-color:white;
  box-shadow: 0px 0px 10px grey;

}

.toggleLight{
  position:relative;
  width:70px;
  height:30px;
  background-color:black;
  box-shadow:2px 2px 10px grey;
  border-radius: 2rem;
}
.toggle_button{
  position:absolute;
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:white;
  cursor:pointer;
  box-shadow:0px 0px 5px black;
}

.banner_text{
  background-color: white;
}






.weather_track_div{
  display:flex;
  justify-content:right;

}

.search_icon{
  width:20px;
  height:20px;
  margin:auto 5px;
  color:grey;
}
.search input{
  width:70%;
  height:70%;
  border:none;
  outline:none;
}
.account_cart_div{
  margin-left:20%;
  display:flex;
  gap:30px;
}
.account_cart_div a{
  /* color:rgb(97, 96, 96); */
  color:rgb(119, 117, 117);

}
.nav_container{
  margin-top:30px;
}
.nav_links li{
  list-style-type: none;
}
.nav_links li a{
  color:black;
  text-decoration: none;

}
.nav_links{
  position:relative;
  display:flex;
  justify-content: space-around;
}
.dropMenu{
  background-color:white;
  position:absolute;
  min-width:150px;
  z-index:6;
  top:50px;
  line-height:38px;
  padding:15px;
  font-size:14px;
  opacity:0;
  visibility:hidden;
  box-shadow:0px 0px 10px grey;
}



.motherChild_dropdown{
  display:flex;
  justify-content:center;
  gap:10%;
  background-color:white;
  width:100%;
  height:200px;
  overflow:hidden;
  position:absolute;
  top:50px;
  left:0;
  z-index:6;
  opacity:0;
  visibility:hidden;
}
.kids ul,.mother ul{
  background-color:white;
  opacity:0;
  padding:50px;
  margin-top:100px;
  transition: all 1s ease;

}
.kids ul li,.mother ul li{
  line-height:30px;
  font-weight:700;
  font-size:14px;
  letter-spacing:0.3em

}
.menu_btn,.cancel_btn{
  display:none;
}
.nav_container input[type="radio"]{
  display:none;
}
#showDrop,#hair,#bath,#wellness,#nutrition,#combo,#collections,#fragrance,#mother_child{
  display:none;
}
.mobile_tab_search{
    display:none;
  
}
.desktop_tab_search{
  display:block;
}

.best_picks_container a{
   color:black;
   text-decoration:none;
}
.card{
  background-color:white;
  box-shadow: 0px 0px 10px 1px grey;
}

.best_picks_container .btn{
  background-color: black;
  font-weight:600;
}

.celeb_container{
  overflow-x: hidden;
}
.celeb_container img,.ingredients img{
  width:100%;
  border-radius: 1rem;
  position:relative;
  box-shadow: 0px 0px 10px grey;
  transition:all 0.5s ease-in-out;
}
 
.celeb_container img:hover,.ingredients img:hover{
  top:-10px;
  transition:all 1s ease-in-out;

}

.reason_banner img{
   width:100%;
}

.two_col_banner img{
  width:100%;
  object-fit:fill;
  overflow:hidden;
}

.banner_image{
  position:relative;
}


.banner_text button{
  background-color: black;
  color:white;
  width:100px;
  height:40px;
  outline:none;
  margin-left:50%;
  transform:translate(-50%,0);
  border-radius:0.675rem;
}
.footer li{
  list-style-type: none;
  margin-bottom: 5px;
}
.footer{
    background-color:#f8f8f8;
   clear:both;

    
}


.product_info{
  text-transform: uppercase;
  font-size:18px;
  letter-spacing: 0.02em;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  height: 40px;
}



@media (max-width: 960px) {
  h1{
    font-size: 28px;
  }
  .announcement_div{
    font-size:12px;
  }
  .account_cart_div{
      margin-left:10%;
  }
  .coupon{
    width:350px;
    height:310px;

  }
  .desktop_track_div{
    display:none;
  }
  .mobile_track{
     height:50px;
     text-align:center;
     display:flex;
     justify-content:center;
     align-items: center;
     padding-top:0px;
  }
  .carousel-item img,.reason_banner img{
     height:300px;
     object-fit:fill;
  }
  .best_picks_container .row .column{
    padding:50px;
  }
 
 
  .banner_text{
    
    bottom:0;
    position:relative;
    padding:20px;
    width:100%;
  }
  
  .two_col_banner img{
    height:70vh;
  }
  .footer div div{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
  }
  .border_bottom{
    border-bottom:1px solid rgb(185, 184, 184);

  }
  
 
  .mobile_tab_search{
    display:flex;
   margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}
.desktop_tab_search{
  display:none;
}
  .nav_container .nav_links{
      line-height: 60px;
      position:absolute;
      top:0px;
      padding-top:70px;
      display:block;
      width:100%;
      height:100vh;
      max-width:350px;
      z-index:1;
      transition:all 1s ease-in-out;
  }
  .nav_links{
            background-color:white;

  }
  
  .nav_links li{
      position:relative;
      padding:0px 20px;
  }
  .dropMenu,.motherChild_dropdown{
      position:Static;
      max-height:0px;
      opacity:0px;
      visibility:hidden;
      transition: none;
      transition:all 0.5s ease;

  }
  .motherChild_dropdown{
    display:block;
    height:100%;
  }
  .kids ul,
  .mother ul{
    margin-top:0px;
    opacity:1;
    transition: none;
  }
 

  #showDrop,#hair,#bath,#wellness,#nutrition,#combo,#collections,#fragrance,#mother_child{
      margin-left:75%;
      display:none;
  }
  #showDrop:checked ~ .dropMenu,
  #mother_child:checked ~ .motherChild_dropdown,
  #hair:checked ~ .dropMenu,
  #bath:checked ~ .dropMenu,
  #wellness:checked ~ .dropMenu,
  #nutrition:checked ~ .dropMenu,
  #combo:checked ~ .dropMenu,
  #collections:checked ~ .dropMenu,
  #fragrance:checked ~ .dropMenu
   {
      visibility: visible;
      opacity:1;
      margin-top:0px;
      max-height:100%;
      transition:all 0.8s ease;
  }
  .drop_icon{
      position:absolute;
      width:20px;
      height:20px;
      top:20px;
      left:75%;
      transition: all 0.4s ease-in-out;

  }
  #showDrop:checked ~ label .drop_icon,
  #mother_child:checked ~ label .drop_icon,
  #hair:checked ~ label .drop_icon,
  #bath:checked ~ label .drop_icon,
  #wellness:checked ~ label  .drop_icon,
  #nutrition:checked ~ label .drop_icon,
  #combo:checked ~ label .drop_icon,
  #collections:checked ~ label .drop_icon,
  #fragrance:checked ~ label .drop_icon{
    transform:rotate(180deg);

  }
  .menu_btn{
    font-size:25px;
    position:absolute;
    top:70px;
    left:30px;
  }
  .menu_btn,.cancel_btn{
    cursor: pointer;
    display:block;
  }
  .cancel_btn{
    margin-bottom:20px;
      margin-left:85%;
      font-size:25px;
  }
  .nav_links{
      overflow:scroll;
      left:-100%;
  }

 #menu_btn:checked ~ .nav_links{
  left:0%;
 }

}

@media (max-width: 768px){
 
   .wow_image{
    display:flex;
    margin-left:auto;
    margin-right:auto;

  }
  
}

@media (min-width: 961px){
  
  .search{
    margin-left:10%;
    
  }
  .mobile_toggle_button{
    display:none;
  }
  .nav_links li:hover .dropMenu{
      opacity:1;
      top:30px;
      visibility:visible;
      transition: all 0.4s ease;
    }
    .drop_icon{
      display:hidden;

    }
    
    .megaLink:hover .motherChild_dropdown{
      opacity:1;
      visibility:visible;
      transition:all 0.4s ease;
  }
  .megaLink:hover .kids ul,
  .megaLink:hover .mother ul
  {
    margin-top:0px;
    opacity:1;
  }
  .two_col_banner img{
    height:100vh;
  }
  .banner_text{
    position:absolute;
    bottom:5%;
    z-index:6;
    left:50%;
    padding:10px;
    transform:translate(-50%,0);
    width:50%;
    /* height:20%; */
    /* height:300px; */
    /* background-color:white; */
  }
  .banner_text  h1{
    font-size:25px;
  }
  .mobile_track_div{
    display:none;
  }
  
}